.adminandlogistics{
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 30px auto  10px;
}


.adminContain{

    border: 1px hidden blue;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;

}

.adminContain h1{
    text-transform: capitalize;
    width: 100%;
    margin-bottom: 8px;
}

.adminContain p::first-letter{
    text-transform: uppercase;
}

.adminContain p{
    width: 100%;
    line-height: 1.5;
    font-weight: 600;
}

.logisticAndTravel{
    border: 2px hidden red;
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;

}

.travelAndLogistics{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 20px auto;
}

.logoImgContainer{
    width:50px;
    height: 50px;
    margin-bottom: 10px;
}

.logoImgContainer img{
    width: 100%;
    height: 100%;
}

.tlTextContainer{
    width:100%;
    display: flex;
    flex-direction: column;
}

.tlTextContainer h4{
    text-transform: capitalize;
    line-height: 1.5;
}

.tlTextContainer p::first-letter{
    text-transform: uppercase;
}

.tlTextContainer p {
    line-height: 1.5;
    font-weight: 600;
}

@media(min-width: 768px){
    .adminandlogistics{
      
        flex-direction: row;
        align-items: center;
        
    }

    .logisticAndTravel{
        flex-direction: row;
        align-items: center;
      
    }

    .adminContain{
        margin-bottom: 0;
        width: 90%;
    }

    .travelAndLogistics{
        padding-left: 10px;
    }

}