.employeeDirectory{
    border: 3px hidden purple;
    grid-column: span 12;
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: 20px auto;
   

}

@media(min-width: 768px){
    .employeeDirectory{
        width: 70%;
    }
}

