.cardContent{
    border: 1px hidden green;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 15px;
    grid-column:span 12;
}

.cardImage{
    width: 100%;
}

.cardBody{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.cardHeading::first-letter{
    text-transform: uppercase;
}

.cardHeading{
    width: 100%;
    line-height: 1.5;
    margin-top: 10px;
    margin-bottom: 10px;
}

.textCapitalize{
    text-transform: capitalize;
}

.cardParagraph::first-letter{
    text-transform: uppercase;
}

.cardParagraph{
    line-height: 1.7;
    width: 100%;
}

.cardSpan{
    text-transform: capitalize;
}

@media(min-width: 576px){
    .cardContent{
        width: 80%;
    }
}

@media(min-width: 768px){
    .cardContent{
        
        grid-column:span 6;
        
    }
}

@media(min-width: 992px){
    .cardContent{
     
        width: 85%;
        grid-column:span 4;
        
    }
}

@media(min-width: 1200px){
    .cardContent{
        
        width: 90%;
        
    }
}