.payRollimageContainer{

    width:70%;
    margin:20px auto 20px;
    display: flex;
    justify-content: center;
}

@media(min-width:768px){
    .payRollimageContainer{
        margin-top: 40px;
    }
}