.artworkContainer{
    border: 3px hidden purple;
    width: 100%;
    display: flex;
    height: 90vh;
    flex-direction: column;
}

.textContainer{
    display: flex;
    width: 100%;
    flex-direction: column;
    border: 4px hidden yellow;
}

.headerText::first-letter, .headerParagraph::first-letter{
    text-transform: uppercase;
}

.headerText{

    margin-top: 10px;
    margin-bottom: 10px;
    width: 320px;
    line-height: 1.5;
    
}

.headerParagraph{

    line-height: 1.5;
    width: 250px;
    font-weight: 500;
    margin-bottom:30px;

}

.imgContainer{
    width: 100%;
    margin-bottom: 10px;
    border: 1px hidden green;
}

.imgContainer img{
    width: 100%;
}

@media(min-width:576px){

    .artworkContainer{

        flex-direction: column-reverse;
       

    }

    .imgContainer{
        width: 90%;
        height:300px;
        margin:10px auto 30px;
    }

    .imgContainer img{
        height: 100%;
    }

    .headerText{
        width: 350px;
    }

    .headerParagraph{

        width:350px;
    }
}


@media(min-width:768px){

    .imgContainer{
        border: 2px hidden black;
        /* height: 0; */
    }

    .headerText{
        width: 550px;
    }

    .headerParagraph{

        width:550px;
    }
}


@media(min-width:992px){

    .artworkContainer{

        flex-direction: row;
        align-items:center;

    }

    .imgContainer{
        width: 100%;
        height:80%;
        margin-bottom: 0px;
    }

    .textContainer{
      
        width: 100%;
        
    }

    .headerText{

       
        margin-bottom: 20px;
        width: 350px;
        
    }
    
    
    .headerParagraph{
    
        
        width: 350px;
        
        margin-bottom:0px;
    
    }
    

   
}

