.artworkContainer{
    border: 1px hidden blue;
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.textContainer{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.headerText::first-letter{
    text-transform: uppercase;
}

.headerText{

    margin-top: 10px;
    margin-bottom: 10px;
    width: 320px;
    line-height: 1.5;
    
}

.headerParagraph::first-letter{
    text-transform: uppercase;
   
}

.headerParagraph{

    line-height: 1.5;
    width: 250px;
    font-weight: 500;
    margin-bottom:30px;

}

.imgContainer{
    width: 100%;
    margin-bottom: 10px;
}

.imgContainer img{
    width: 100%;
}

@media(min-width:576px){

    .artworkContainer{

        flex-direction: column-reverse;

    }

    .imgContainer{
        margin-bottom: 30px;
        width: 80%;
    }

    .headerText{
        width: 350px;
    }

    .headerParagraph{

        width:350px;
    }
}

@media(min-width:768px){
    .imgContainer{
       
        width: 60%;
    }

    .headerText{
        width: 550px;
    }

    .headerParagraph{

        width:550px;
    }
}

@media(min-width:992px){

    .artworkContainer{

        flex-direction: row;
        align-items:center;

    }

    .imgContainer{
        width: 100%;
        margin-bottom: 0px;
    }

    .textContainer{
      
        width: 100%;
        
    }

    .headerText{

       
        margin-bottom: 20px;
        width: 350px;
        
    }
    
    
    .headerParagraph{
    
        
        width: 350px;
        
        margin-bottom:0px;
    
    }
    

   
}