*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* :root{

  --blue-color: rgba(0, 82, 204, 1);
  --dark-blue-color: rgba(9, 30, 66, 1);

} */

.App{
  border: 1px hidden red;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.container{
  grid-column: span 12;
  background: white;
  padding-top: 1%;
}



